extends layout

block body
  .page
    
      a#logo
        img(src='/img/fm_logo.png')
      button.pure-button#add-new
        i.icon-plus
      
      section#app
        projects-list
        
    
block tags
  script(src='/js/projects-list.js')
  script(src='/js/project-single.js')
    
  script.
    riot.mount('projects-list', {
      projects: [
        { title: 'Customer Website1', amount: '110,00 €', dueDate: Date.now(), description: '.COM and .IT Domains and #3 Emails addresses' },
        { title: 'Customer Website2', amount: '222,00 €', dueDate: Date.now(), description: '.COM and .IT Domains and #3 Emails addresses' },
        { title: 'Customer Website3', amount: '333,00 €', dueDate: Date.now(), description: '.COM and .IT Domains and #3 Emails addresses' },
        { title: 'Customer Website4', amount: '666,00 €', dueDate: Date.now(), description: '.COM and .IT Domains and #3 Emails addresses' },
      ]
    })
