doctype html

//-
    @@@@@@@@@@@@@@@@@@@ WARNING @@@@@@@@@@@@@@@@@@@@
    if you modify layout.jade you need to re-compile
        every file that extends it.
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

        
html
  head
    title FeedMe or I'll kill you
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,900|Open+Sans:700')
    link(rel='stylesheet', href='//fontastic.s3.amazonaws.com/fGKHk4uCA6v8qPAf3HeXNN/icons.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/img/fm_logo.png', type='image/png')
    block links

  body
  
    block body
    
    script(src='/bower_components/momentjs/min/moment.min.js')
    script(src='https://cdn.jsdelivr.net/riot/2.0/riot.min.js')
    block tags
    
    block scripts
